@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --primary: 256 28% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 25% 96%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 250 25% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 250 25% 72%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 256 28% 45%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-quicksand-light;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-quicksand-medium;
    font-weight: 500;
  }
}

html {
  scroll-behavior: smooth;
}
